<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>521306057530-k7j1nti4medr3nrj4csn0bq888qfhkn8.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.521306057530-k7j1nti4medr3nrj4csn0bq888qfhkn8</string>
	<key>API_KEY</key>
	<string>AIzaSyDuHR6_fSuTruWJONcsWWBeOV2wMQjUXPE</string>
	<key>GCM_SENDER_ID</key>
	<string>521306057530</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.projects.demo.CouponApp</string>
	<key>PROJECT_ID</key>
	<string>couponapp-594ad</string>
	<key>STORAGE_BUCKET</key>
	<string>couponapp-594ad.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521306057530:ios:f019771a123d9d74c3be03</string>
	<key>DATABASE_URL</key>
	<string>https://couponapp-594ad.firebaseio.com</string>
</dict>
</plist>